*, *::before , *::after{

    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    }
    @font-face {
        font-family: 'Droid Sans Bold';
        src: url('../webfonts/droidsans-bold-webfont.woff2') format('woff2'),
             url('../webfonts/droidsans-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    @font-face {
        font-family: 'Droid Sans Regular';
        src: url('../webfonts/droidsans-webfont.woff2') format('woff2'),
             url('../webfonts/droidsans-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    .homepage{
        width: 1300px;
    }
    html{
        font-size: 62.5%;
    }
.home-page header{
    border-top: 5px solid #858686;
    background-color: #f0f0f0;
    border-bottom: 5px solid #a1af26;
    height: 20vh;
    width: 100%;
}
.home-page header section{
    width: 1130px;
    /* border: 1px solid red ; */
    margin-top: -12.5px;

}
.home-page header section .form-inline{
    /* border:1px solid blue;  */
    width: 17rem;
    height: 2.2rem;
}

.navbar-custom ul li a{
    font-size:1.8rem;
    font-family: 'Droid Sans Bold';
    /* color: #434343; */
}

.navbar-nav  li{
    padding-left:1rem;
    padding-right:1rem;
    padding-bottom: 1rem;
  }

#header-bd-engine{
    font-size: 1.6rem;
    font-family: "Droid Sans Regular";
    color: #434343;
}

#header-phone{
    font-size:1.8rem;
    font-family: 'Droid Sans Bold';
    color: #afbd21;
    height: 20px;
    padding-bottom: 20px;
}

#header-search{
    height: 20px;
}


.subpage{
    width: 100%;
}

#landing{
    /* object-fit: none; */  
    position: relative;
    z-index: 0;
}
#action-contact, #action-contact2{
    position: absolute;
    z-index: 2;
}

#line1, #line2{
    color: #ffffff;
}

#line1{
    font-size: 4.8rem;
}

#line2{
    font-size: 8.2rem;
}

#action-contact2
{
    position: absolute;
    z-index: 3;
}

#action-contact{
    width: 50%;
    height:40vh;
    margin-top:23vh;
    background-color: #afbd21;

}

#action-contact2{
    width: 120px;
    background-color: #849499;
    border: 1px solid #a1af26;
    height: 25px;
    text-align: center;
    right:-50px;
    transform: rotate(270deg);

}

.trans-buttons{
    border: 3px solid #ffffff;
    padding: 10px;
    width: fit-content;
}

#green-contact{
    font-size: 3rem;
}
.contact-page{
    height: 85vh;
}

.icons{
    background-color: #f0f0f0;
    height: 25vh;

}

.cnbc-page{
    height: 45vh;
}

.map-page{
    height: 80vh;
    background-color: #393c36;
}

.map-page img{
    height: 90%;
    align-self: center;
}

#map-overlay{
    position: absolute;
    bottom: -149%;
    background-color: rgba(14, 15, 13, 0.75);
    z-index: 1;
    height: 40%;
    width: 100%;
    left: 0px;
}
.communitynews-page{
    height: 60vh;
}
.community{
    width: 49%;
    height: 100%;
    background-color: #afbd21;
}
.news{
    width:49%;
    height: 100%;
    background-image: url("../img/bg\ cover\ img.jpg");
}
#tencounty{
    height:10vh;
    background-color: #505812;
    width: 100%;
}
#county-maps{
    height: 70vh;
    background-color: #21251f;
    width: 100%;
}
#social{
    height: 20vh;
    background-color: #434343;
    width: 100%;
}
.othernews-page{
    height: 80vh;
    background-image: url("../img/Color\ Fill\ 1.jpg");
}
#boat, #street, #train{
    height: 40vh;
    background-size: 100%;
}

#boat, #train{
    width: 40%;
}

#street{
    width:20%;
}
#boat{
    background-image: url('../img/img1.jpg');
}
#street{
    background-image: url('../img/img2.jpg');
}
#train{
    background-image: url('../img/img3.jpg');
}
.investormembers-page{
    height: 40vh;
}
.newsletter-page{
    height: 20vh;
    background-color: #afbc22;
}