*, *::before , *::after{
    box-sizing: border-box;
    }
    
    html, body {
        margin: 0px;
        padding: 0px;
    }

    html{
        overflow-x: hidden;
        font-size: 62.5%;
    }

    @media only screen and (max-width: 1921px){
        /* html{
            font-size: 75%;    
        } */
    }

    @media only screen and (max-width: 1024px){
        /* html{
            font-size: 56.25%;    
        } */
    }

    @media only screen and (max-width: 768px){
        /* html{
            font-size: 50%;    
        } */
    }

    @media only screen and (max-width: 375px){
        /* html{
            font-size: 50%;    
        } */
    }
    

    @font-face {
        font-family: 'Droid Sans Bold';
        src: url('../webfonts/droidsans-bold-webfont.woff2') format('woff2'),
             url('../webfonts/droidsans-bold-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    @font-face {
        font-family: 'Droid Sans Regular';
        src: url('../webfonts/droidsans-webfont.woff2') format('woff2'),
             url('../webfonts/droidsans-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    .home-page{
        max-width: 130rem;
        position: relative;
    }

.home-page header{
    border-top: 5px solid #858686;
    background-color: #f0f0f0;
    border-bottom: 5px solid #a1af26;
    /* height: 130px; */
    min-height: 130px;
    position: relative;
    z-index: 2;
}
.home-page header section{
    width: 1130px;
    /* border: 1px solid red ; */
    margin-top: -12.5px;

}
.home-page header section .form-inline{
    /* border:1px solid blue;  */
    width: 17rem;
    height: 2.2rem;
}

.navbar-custom ul li a{
    font-size:1.4rem;
    font-family: 'Droid Sans Bold';
    /* color: #434343; */
}
.navbar-brand{
    height: 150px;
}

.active{
    color: #afbd21;
}

.navbar-nav  li{
    padding-left:1rem;
    padding-right:1rem;
    padding-bottom: 1rem;
  }

#header-bd-engine{
    font-size: 1.6rem;
    font-family: "Droid Sans Regular";
    color: #434343;
}

#header-phone{
    font-size:1.8rem;
    font-family: 'Droid Sans Bold';
    color: #afbd21;
    height: 20px;
    padding-bottom: 20px;
}

#header-search{
    height: 20px;
}


.subpage{
    width: 100%;
}

#landing-contact{
    width: inherit;
}

#action-contact, #action-contact2{
    position: absolute;
}

#line1, #line2{
    color: #ffffff;
}

@media only screen and (max-width: 768px){
    #line1, #line2{
        display: flex;
        justify-content: center;

    }
}

#line1{
    font-size: 4.0rem;
    font-family: 'Droid Sans Regular';
    line-height: 6rem;
    text-shadow: 0.35rem -0.35rem 0.4rem gray;
}

.shadow2{
    text-shadow: -0.15rem -0.35rem 0.4rem gray;
}
#line2{
    font-size: 8.0rem;
    font-family: 'Droid Sans Bold';
}

@media only screen and (max-width: 1400px){
    #line1{
        font-size: 2.75rem;    
        line-height: 5rem;
    }

    #line2{
        font-size: 6.75rem;    
    }
}

@media only screen and (max-width: 1200px){
    #line1{
        font-size: 2rem;    
        line-height: 3rem;
    }

    #line2{
        font-size: 4rem;    
    }
}

#action-contact2
{
    position: absolute;
    z-index: 1;
}


#action-contact{
    background-color: #afbd21;
    z-index: 1;
    top:20rem;
}

@media only screen and (max-width: 768px){
    #action-contact{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}


#action-contact2{
    width: 120px;
    background-color: #849499;
    border: 1px solid #a1af26;
    height: 25px;
    text-align: center;
    left: 94.4%;
    transform: rotate(270deg);
    font-size: 1.6rem;
    color: #434343;
}

@media only screen and (max-width: 1024px){
    #action-contact2{
        left: 93%;
    }
}

@media only screen and (max-width: 768px){
    #action-contact2{
        left: 90.6%;
        top: 44%;
    }
}


@media only screen and (max-width: 768px){
    #action-contact2{
        left: 81.2%;
    }
}


.trans-buttons{
    border: 3px solid #ffffff;
    width: fit-content;
    color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.4rem;
}

#green-contact{
    font-size: 2.4rem;
    height: 5rem;
}

@media only screen and (max-width: 768px){
    #green-contact{
        margin-left: 0 !important;
        align-self: center;
    }
}
.contact-page{
    height: 85vh;
    position: relative;
}

.contact-page img{
   object-fit: cover ;
}

.icon-page{
    background-color: #f0f0f0;
    height: 30vh;
    font-family: 'Droid Sans Bold';
    font-size: 1.5rem;
}

.icon img{
    height: 10rem;
}
.cnbc-page img{
    object-fit: cover;
    width: inherit;
}

.map-page{
    height: 90vh;
    background-color: #393c36;
    background-size: cover;
    background-image: url("../img/map\ -\ no\ roads2.png");
    background-position: center;
}

.map-page img{
    height: 90%;
    align-self: center;
}

#map-overlay{
    /* position: absolute;
    left:0;
    right: 0;
    z-index: 1; */
    background-color: rgba(14, 15, 13, 0.75);
    width: 100%;
    background-size: 100%;
}
#overlay-info{
    color: #ffffff;
    font-size:1.6rem;
    font-family: 'Droid Sans Bold';
}
.lighter{
    font-family: 'Droid Sans Regular';
}

#overlay-header{
    font-size: 3.5rem;
    line-height: 10rem;
    
}
.overlay-cancel{
    height:2rem;
    width:2rem;
    margin-right: 1rem;
    margin-top: 1rem;
}
.communitynews-page{
    height: 65vh;
}
.community{
    width: 50%;
    height: 100%;
    background-color: #afbd21;
}
/* .communitynews-page div div img{
 object-fit: ;
} */

.video-news{
    background-color: #afbd21;
}
.news-header{
    font-family: 'Droid Sans Regular';
    font-size: 2rem;
}

#readnews{
    background-image: url("../img/bg\ cover\ img.jpg");
    background-size: cover;
}
#readnews{
    color:#ffffff ;
}
.post{
    background-color: rgba(255, 255, 255, 0.85);
    border: 0.2rem solid #afbd21;
    box-shadow: -0.3rem -0.3rem 0.2rem 0.1rem #434343;
    font-family:'Droid Sans Regular';
    padding: 0.6rem;
    height: fit-content;
}
.post h4, .post a {
    color: #285592;
    font-size: 1.4rem;
    font-family: 'Droid Sans Regular';
}
.post p{
    color: #434343;
    font-size: 1rem;
    font-family: 'Droid Sans Regular';
}
.post a{
    bottom: 0;
    right: 0;
}

#tencounty{
    height:10vh;
    background-color: #505812;
    width: 100%;
}
#county-maps{
    background-color: #21251f;
    width: 100%;
    max-height: 85vh;
}
#social{
    height: 20vh;
    background-color: #434343;
    width: 100%;
}
.othernews-page{
    height: 80vh;
    background-image: url("../img/Color\ Fill\ 1.jpg");
    background-size: cover;
}
#boat, #street, #train{
    height: 40vh;
    background-size: 100%;
}

#boat, #train{
    width: 40%;
}

#street{
    width:20%;
}
#boat{
    background-image: url('../img/img1.jpg');
    background-size: cover;
}
#street{
    background-image: url('../img/img2.jpg');
    background-size: cover;
}
#train{
    background-image: url('../img/img3.jpg');
    background-size: cover;
}
.hoverlay{
    
    font-family: 'Droid Sans Bold';
    font-size: 4.2rem;
    
}
.hoverlay p{
    color:transparent;
}
.hoverlay:hover{
    background-color: rgba(54, 49, 49, 0.671);
}
.hoverlay p:hover{
    color: #ffffff;
}
.investormembers-page{
    min-height: 40vh;
    color: #434343;
    font-family: 'Droid Sans Bold';
    font-size: 3rem;
    padding-top: 1rem;
}
.newsletter-page{
    height: 20vh;
    background-color: #afbc22;
    font-size: 3rem;
    font-family: 'Droid Sans Regular';
    font-weight: 300;
    color: #ffffff;
}
#tencounty p,#social-call{
    color:#ffffff;
    font-family: 'Droid Sans Bold';
}

#tencounty p{
    font-size:4rem;
}

#social-call{
    font-size: 3rem;
}

.panel{
    color: #ffffff;
    background-color: #afbd21;
    height: fit-content;
}
.tiny{
    width: 2rem;
    height: 2rem;
}
.feed{
    background-color: #434343;
}
.verytiny{
    width: 1rem;
    height: 1rem;
}
#subscribe{
    background-color: #645b5b;
}

#nl{
    text-shadow: -0.15rem -0.35rem 0rem gray;
}

.investors{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1024px){
    .pl-5{
        width: 60rem;
    }
    .p1-55{
        width: 50rem;
    }
}

@media only screen and (max-width: 768px){
    .pl-5{
        width: 50rem;
    }
    .p1-55{
        width: 40rem;
    }
}

@media only screen and (max-width: 768px){
    .investors{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 30rem;
    }

    .arrows{
        align-self: center;
    }
}

@media only screen and (max-width: 768px){
    .communitynews-page{
        
        justify-content: center;
        flex-direction: column !important;
        height: auto;
        /* width: 30rem; */
    }

    .communitynews-page > *{
        width: 100% !important;
    }

    .trans-buttons{
        margin: 2rem !important;
    }
    
}

@media only screen and (max-width: 375px){
    .icon-page{
       
        justify-content: center;
        flex-direction: column;
        /* width: 30rem; */
        padding: 4rem 0;
        height: auto;
    }

}

@media only screen and (max-width: 375px){
    .map-page{
       width: 100%;
       height: auto;
    }

    #map-overlay{
        margin-top: 22rem !important;
     }

    #main-video{
        width: 30rem
    }

    #county-maps{
        /* display: flex; */
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }

    .pl-5{
        width: 40rem;
    }
    .p1-55{
        width: 30rem;
        margin-bottom: 2rem;
    }

    .fortune-companies{
        flex-direction: column !important;
    }

    #boat{
        width: 100%;
    }

    #street{
        width: 100%;
    }

    #train{
        width: 100%;
    }

}